@import url(styles/hearder.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);
@import url(styles/contato.css);
@import url(styles/rodape.css);
@import url(styles/topicos.css);

:root{
    --cor-de-fundo:  #EBECEE;
    --rodape-fundo: #F9F9F9;
    --branco: #ffffff;
    --laranja: #EB9B00;
    --azul-degrade:  linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --font: 'Poppins';
    --azul-texto: #002F52;
    --font-secundaria: "Josefin Sans";
    --black: #000;
    --cinza: #858585;
    --cinza-escuro: #474646;

}

body{
    background-color: var(--cor-de-fundo);
    font-size: 16px;
    font-family: var(--font);
    font-weight: 400;
}
